*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
/external-deps
.externalNativeBuild
.cxx
local.properties
cv-prototyping/.vs/AAA/v17/ipch/AutoPCH/c970a9b8c42505f9/MAIN.ipch
cv-prototyping/.vs/AAA/v17/Browse.VC.opendb
cv-prototyping/.vs/AAA/v17/Browse.VC.db-wal
cv-prototyping/.vs/AAA/v17/Browse.VC.db-shm
cv-prototyping/.vs/AAA/v17/Browse.VC.db
cv-prototyping/.vs/AAA/FileContentIndex/read.lock
cv-prototyping/.vs/AAA/FileContentIndex/c49063da-4801-4ed3-92e9-057ec1653a1a.vsidx
cv-prototyping/.vs/AAA/FileContentIndex/98da34c0-0bbb-4d7e-8c17-1c4c1d42b8ca.vsidx
cv-prototyping/.vs/AAA/FileContentIndex/8ff76b82-5ced-4cd2-bca9-df291b696251.vsidx
.vs/cmake.db
